/* limpando as configurações do navegador:
https://meyerweb.com/eric/tools/css/reset/ */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'hirokuda', cursive;
}

/* Carregar fontes personalizadas com CSS */
@font-face {
  font-family: 'hirokuda';
  src: url('/font/hirokuda/HIROKUDA\ demo.otf') format('OpenType');
}